<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Merlin\ProductFinder\Controller\Index\Results">
       <arguments>
       <argument name="configurableType" xsi:type="object">Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable</argument>
       </arguments>
  </type>
</config>
